body {
    background-color: rgb(4, 35, 39);
    color: rgb(14, 0, 0);
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
    text-align: center;
    font-size: 40px;
  }
  
  div.form-header {
    color: rgb(0, 0, 0);
    font-size: 35px;
    display:flex;
    justify-content: center;
    align-content: center
  }

  body {
    font-family: Arial;
  }
  
  input[type=text], select {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(7, 1, 1);
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    width:300;
  }
  
  div.red-form {
    border-radius: 5px;
    background-color: #f83f3f;
    padding: 20px;
    width: 45%;
    top: 300;
    left: 50;
    display:inline-flex;
    justify-content: center;
    align-content: center;
  }

  div.green-form {
    border-radius: 5px;
    background-color: #1dbe40;
    padding: 20px;
    width: 45%;
    top: 300;
    right: 50;
    display:inline-flex;
    justify-content: center;
    align-content: center;
  }


  input[type="button"] {
    width: 200px; /* width of image */
    height: 50px; /* height of image */
    border: 0;
}
