<p>PLAYER SCREEN</p>

<script>
  function myFunction() {
    document.getElementById("myForm").submit();
  }
</script>

<body onload="load()">

	<div class = "game-timer">
		<span id="warningTimerText" >Gametime starts in: </span><!-- <span id="timer"> 30 minutes and 0 seconds! </span> 
		<!-- custom js -->
		<br>
		<span id="numTimer" border="10" > 0:05 </span>
		<script>
		window.onload = function () {
			var minute = 0;
            var sec = 05;
			var warningBool = false;
			var stringSec = sec.toString();
            setInterval(function () {
				//document.getElementById("timer").innerHTML = minute + " minutes" + " and " + sec +  " seconds!";
				if(stringSec.length < 2) {
					stringSec = "0" + sec.toString();
				}
				document.getElementById("numTimer").innerHTML = minute + ":" + stringSec;
				if (sec == 00) {
					console.log("in big loop");
					if(warningBool==false){
						minute=30;
						sec=00;
						warningBool=true;
						console.log("in bool loop");
						document.getElementById("warningTimerText").innerHTML = "Gametime ends in:" ;

					}
					minute--;
					sec = 60;
					if (minute == 0 && warningBool==true) {
						document.getElementById("warningTimerText").innerHTML = "Gametime ends in:" ;
						minute = 30;
					}
				}
				sec--;
				stringSec = sec.toString();
            }, 1000);
		};
		</script>
	</div>
	
	<p>
	<p>

	<div class="red-player-table" id="mydata">
		<div id="mydata">
			<b> Red Player Score: </b><span id = "rEdpLayersCore"> 0 </span>
			<p>
			<table id="redTable" border="1" cellpadding="5" align="center">
				<tr>
					<td style = "width: 15%" align = "center" ><b>Name</b></td>
					<td style = "width: 10%" align = "center" ><b>ID</b></td>
					<td style = "width: 15%" align = "center" ><b>Score</b></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="green-player-table" id="mydatagreen">
		<div id="mydatagreen">
			<b> Green Player Score: </b><span id = "gReenpLayersCore"> 0 </span>
			<p>
			<table id="greenTable" border="1" cellpadding="5" align="center">
				<tr>
					<td style = "width: 15%" align = "center" ><b>Name</b></td>
					<td style = "width: 10%" align = "center" ><b>ID</b></td>
					<td style = "width: 15%" align = "center" ><b>Score</b></td>
				</tr>
				
			</table>
		</div>
	</div>

      <head>
        <link rel="stylesheet" href="sprint3_player_action_screen.css" />

		<script type = "text/javascript" src="sprint3_player_action_screen.js"></script>
      </head>
    
	</div>
	</div>
	<div class="play-action-display" id="play-action-display" >
		<div id="play-action-display">
			<b> Action Display Events </b>
			<span style="display: block;margin-bottom: 0.5em;"></span> 
			<div style= "height: 160px; width: 500px; overflow: auto; padding: 1px; line-height: 0.7em;" class="actionDisplayStringValues" id="actionDisplayStringValues" > </div>
		</div>
	</div>
	
</body>
