body {
    background-color: rgb(4, 35, 39);
    color: rgb(218, 214, 214);
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
    text-align: center;
    font-size: 40px;
  }
  
  div.form-header {
    color: rgb(0, 0, 0);
    font-size: 35px;
    display:flex;
    justify-content: center;
    align-content: center
  }

  body {
    font-family: Arial;
  }
  
  input[type=text], select {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(7, 1, 1);
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    width:300;
  }
  
  /* input[type=submit] {
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div.red-form {
    border-radius: 5px;
    background-color: #f83f3f;
    padding: 20px;
    width: 45%;
    position: absolute;
    top: 300;
    left: 50;
    display:inline-block;
    justify-content: center;
    align-content: center;
  }

   div.green-form {
    border-radius: 5px;
    background-color: #1dbe40;
    padding: 20px;
    width:90%;
    position: absolute;
    top: 0;
    right: -900;
    display:inline-block;
    justify-content: center;
    align-content: center
  }


  /* #button {
    width: 6em;
    border: 2px solid green;
    background: #ffe;
    border-radius: 5px;
} */